<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Filter Dataset</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">

	function loadContent(selector){
		$("#loadOnClick").html($(selector).html());
	};

	
	
    
    ;
</script>
<style>
  p.detail { 
    color:#333333;font-family: Georgia, serif;font-size:28px;line-height: 28px;margin: 0 0 28px; text-align: center;}

span.name { color:#FF0000;font-weight:bold;font-family: Georgia, serif;font-size:30 }
span.name_1 { color:#12195c;font-weight:bold;font-family: Georgia, serif;font-size:25 }
span.name_2 { color:#57240d;font-family: Georgia, serif;font-size:21 }
div.container11 {
    width: 100%;
    
}
section.container1{
	display: -webkit-flex; /* Safari */
	display: flex;
}

.displayInline{
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: auto;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: powderblue;
    clear: left;
    text-align: center;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.sidenav {
  position: fixed;
  width: 15%;
  height: 100%;
  float: left;
  background-color: #ffffff;
  border-right: 2px;
  margin-right: 10px;
  -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: auto;
}
.sidenav .main-buttons {
  list-style-type: none;
  padding: 0;
  color: #fff;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.sidenav .main-buttons > li {
  padding: 12px 38px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sidenav .main-buttons > li .fa {
  position: absolute;
  left: 12px;
  color: #414655;
}
.sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
  background-color: #292c35;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden, .sidenav .main-buttons > li:active .hidden, .sidenav .main-buttons > li:focus .hidden {
  width: 228px;
}


div#loadOnClick {
	float: right;
}

div#loadOnClick p{
	font-size: 1.5em;
  letter-spacing: 0.1em;
  color: rgb(17, 17, 17);
  margin-top: 30px;
}

 .displayOnClick{
	display: none;
 }
</style>
    </style>
  </head>
  <body>
    
  {% if not partes_retenidas %}
   <div class="container">
    <form input type="hidden" name="myform" value="text_entry_form" method="post" enctype="multipart/form-data" action="/process">

      <h4>Lemmas</h4>
      <select name="Lemmas">
            {% for lemma in lemmas %}
            <option value="{{ lemma }}">{{lemma}}</option>
            {% endfor %}
    
      </select>
      <br />
    
      <h4>Partes</h4>
      <select name="Partes">
            {% for parte in partes %}
            <option value="{{ parte }}">{{parte}}</option>
            {% endfor %}
    
      </select>
    <br />
        
        <button type="submit" class="btn btn-success" style="display: block; margin: 0 auto;"><i class="fa fa-paper-plane-o"></i> Submit</button>
    </form>
  </div>
  
  {% endif %}

  {% if partes_retenidas %}
  <br />
  

  </br>
</br>

  <div class="container">

    <div id="inner">
      <p class="detail">We have found : <span class="name">{{len}}</span> actes contening <span class="name_1">{{choice}}</span> in the <span class="name_2">{{choice_2}}</span> </p>
      
   
    </div>

  <section id="container1">
	<nav class="sidenav">
      <ul class="main-buttons">
        {% for x in partes_retenidas %}
        <li><a href="#{{x[0]}}" class="quickLinks" onclick='loadContent("#{{x[0]}}")'><i class="fa fa-circle fa-lg"></i>Acte {{x[0]}} </a></li>
      {% endfor %}
      </ul>
    </nav>
    <div class="displayInLine" id="loadOnClick" style="width:75%; float: right;">
		
    </div>
  </section>

  {% for x in partes_retenidas %}
  <div id="{{x[0]}}" class="displayOnClick">
    <p>{{x[1]}}</p>
  </div>
  {% endfor %}
  

</br>
</div>
  <!--
  <div class="container" id="resultados" left: 50%;>
		
		<div id="inner">
    	{% for x in partes_retenidas %}
        <p>Acte {{x[0]}} : {{x[1]}}</p>
    {% endfor %}
   
    </div>
  </div>
-->


  
  {% endif %}

    
  </body>
</html>