<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons_9.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vicons-font.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="static/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">

      function loadContent(selector){
        $("#loadOnClick").html($(selector).html());
      };
    
        ;
    </script>
    
    <style>
      div#loadOnClick {
  float: right;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: rgb(17, 17, 17);
  margin-top: 30px;
}


 .displayOnClick{
  display: none;
 }
 span.name { color:#ffae00}

 #sidebar{
   height: 800px;
 }

 #sidebar:hover{
   overflow-y: scroll;
}
input[type=radio].with-font,
  input[type=checkbox].with-font {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
      
  input[type=radio].with-font ~ label:before,
  input[type=checkbox].with-font ~ label:before {
      font-family: FontAwesome;
      display: inline-block;
      content: "\f1db";
      letter-spacing: 10px;
      font-size: 1.2em;
      color: #535353;
      width: 1.4em;
  }
  
  input[type=radio].with-font:checked ~ label:before,
  input[type=checkbox].with-font:checked ~ label:before  {
      content: "\f00c";
      font-size: 1.2em;
      color: darkgreen;
      letter-spacing: 5px;
  }
  input[type=checkbox].with-font ~ label:before {        
      content: "\f096";
  }
  input[type=checkbox].with-font:checked ~ label:before {
      content: "\f046";        
      color: darkgreen;
  }
  input[type=radio].with-font:focus ~ label:before,
  input[type=checkbox].with-font:focus ~ label:before,
  input[type=radio].with-font:focus ~ label,
  input[type=checkbox].with-font:focus ~ label
  {                
      color: green;
  }
  
  #principal {
  height: 150px;
  width: 65%;
	position: absolute;
	top:-250px;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

span.resaltar {
  text-decoration:none;
  border-bottom: 2px solid #8db8c0;
  box-shadow: inset 0 -2px 0 #8db8c0;
  color: inherit;
  transition: background 0.3s cubic-bezier(.33,.66,.66,1);
}

span.resaltar:hover {
  background: #8db8c0;
}

span.resaltar_2 {
  text-decoration:none;
  border-bottom: 2px solid #ffc74e;
  box-shadow: inset 0 -2px 0 #ffc74e;
  color: inherit;
  transition: background 0.3s cubic-bezier(.33,.66,.66,1);
}

span.resaltar_2:hover {
  background: #ffc74e;
}

span.resaltar_3 {
  text-decoration:none;
  border-bottom: 2px solid #c8c2f7;
  box-shadow: inset 0 -2px 0  #c8c2f7;
  color: inherit;
  transition: background 0.3s cubic-bezier(.33,.66,.66,1);
}

span.resaltar_3:hover {
  background:  #c8c2f7;
}

p.tiny{
  font-size: 10px;
  margin-bottom: 0em; 
  margin-top: 0em;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1d1919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn{
background-color: #1d1919;
color: white;
border: 1px solid #ffae00a9;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
background-color: #1d1919;
border: 2px solid white;
}

.ultraman{
	min-width: 150px;
  max-width: 250px;
  min-width: 30px;
  max-height: 65px;
	display: block;
	margin: 1em;
  padding: 1em 2em;
  font-size: 15px;
  background: white;
	vertical-align: center;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
}

    </style>

  </head>
  <body>

    {% if not partes_retenidas %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #271a01;">
      <a class="navbar-brand" href="/">Diplomatics parts detection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
    
    
        </ul>
      </div>
    </nav>



    <div class="container" id="principal">
     <form input type="hidden" name="myform" value="text_entry_form" method="post" enctype="multipart/form-data" action="/process">
      
      <div class="col-sm-12">
      
      <button class="ultraman button--itzel button--text-thick button--round-s" style="display: block; margin: auto;" value="submit_a" name="action" ><i class="button__icon icon icon-search"></i><span>Explore your corpus</span></button>
      
      </br>
      <h5 style="text-align: center;">Or brownse inside <i class="fa fa-arrow-down" aria-hidden="true"></i></h5>
    </div>
  </br>
  </br>
      <div class="row align-items-center">

        <div class="col-sm-6">
          <div class="lemma">
          <h4>Choose a lemma </h4>
          <select class="col-md-10 form-control center-block" name="Lemmas">
                {% for lemma in lemmas %}
                <option value="{{ lemma }}">{{lemma}}</option>
                {% endfor %}
          </select>
          </div>
          </div>
    
        <div class="col-sm-6">
          <div class="diplo">
          <h4 >Choose a diplomatics part</h4>
          <select class="col-md-8 form-control center-block" name="Partes">
                {% for parte in partes %}
                <option value="{{ parte }}">{{parte}}</option>
                {% endfor %}
          </select>
          </div>
          </div>

          <div class="w-100"></div>
          <div class="w-100"></div>
        
        <div class="col">
          <div class="words">
          <h5 >Search by word </h5>
          <p>this option will disable lemma</p>
         <select class="col-md-7 form-control center-block" name="Words">
               {% for word in words %}
               <option value="{{ word }}">{{word}}</option>
               {% endfor %}
        </select>
        </div>
        </div>
      

        <div class="col">
          <div class="entities">
            <br/>
        <h5>Related to named entities?</h5>
      <div class=".container">
        <div>
          <input id="question1" name="question" type="radio" class="with-font" value="names" />
          <label for="question1">Names</label>
        </div>
        <div>
          <input id="question2" name="question" type="radio" class="with-font" value="places"/>
          <label for="question2">Places</label>
        </div>
        <div>
          <input id="question3" name="question" type="radio" class="with-font" value="any"/>
          <label for="question3">Any</label>
        </div>
      </div>
      </div>
    </div>
        </div>

        <div></div>
      
         <button type="submit" class="btn btn-primary" style="display: block; margin:20px auto;" value="submit_b" name="action"><i class="fa fa-rocket"></i> Submit</button>
      

        </form>
   </div>
   
   {% endif %}
 
   {% if partes_retenidas %}


   <!-- exploracion de las actas sin opciones----------------->
   {% if partes_retenidas[0]=="exploracion" %} 
   
   <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <p class="detail">We have detected: <span class="name">{{partes_total|length}}</span> charters in your corpus</p>
        
        <ul class="list-unstyled components mb-5">
          {% for x in partes_total %}
          <li>
            <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Charter {{x[0][0][:-5]}} </a>
            <ul class="dropdown" id="{{x[0]}}_b">
              <li>
                <a href="#{{x[0][0]}}b" class="quickLinks" onclick='loadContent("#{{x[0][0]}}b")'>Annotated Charter</a>
              </li>
              <li>
                <a href="#{{x[0][0]}}" class="quickLinks" onclick='loadContent("#{{x[0][0]}}")'>Raw-Text Charter</a>
              </li>
              </ul>
              
          </li>
          {% endfor %}
        </ul>

        <div class="footer">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyleft &copy;<script>document.write(new Date().getFullYear());</script> Sergio Torres | Mocosoft
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>

      </div>
    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a> 
              </li>
              <li class="nav-item">
                <a href="#entities" class="nav-link" onclick='loadContent("#entities")'>Entities</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="displayInLine" id="loadOnClick" style="width:90%; float: right;"></div>
    </div>
    
  </div>
  
{% for x in partes_total %}
<div id="{{x[0][0]}}" class="displayOnClick">
<h3>{{x[0][0][:-5]}}</h3>
  {% for y in x %} <!-- y[0]: titulo, y[1]: parte, y[2] lista de listas con palabra, entidad-->
  <br/>
    <p>
    {% for z in y[2] %}
    {{z[0]}}
    {% endfor %}
    </p>
  {% endfor %}
</div>
{% endfor %}

{% for x in partes_total %}
<div id="{{x[0][0]}}b" class="displayOnClick">
<h3>{{x[0][0][:-5]}}</h3>
<br/>

  {% for y in x %} <!-- y[0]: titulo, y[1]: parte, y[2] lista de listas con palabra, entidad-->
  <h5>{{y[1]}}</h5>
  <p>
    {% for z in y[2] %}
      {% if z[1][2:]=="PERS" %}
        <span class="resaltar" >{{z[0]}}</span>
      {% elif z[1][2:]=="LOC" %}
        <span class="resaltar_3" >{{z[0]}}</span>
      {% else %}
        {{z[0]}}
      {% endif %}
    {% endfor %}
  </p>
  {% endfor %}
</div>
{% endfor %}






<!-- mensaje de resultado no encontrado------------------------->

   {% elif partes_retenidas[0]=="result not found" %} 
   <br/>
   <h4 style="text-align: center;">RESULT NOT FOUND</h4>
   <h5 style="text-align: center;">Return to <a class="nav-link" href="/">Home</a></h5>
   <h5 style="text-align: center;">or try this other options</h5>
   {% for x in partes_error %}
   <h6 style="text-align: center;">{{search_term}} in the {{x[0]}} : {{x[1]}} occurrences in {{x[0]}} </h6>
   {% endfor %}



 <!-- lista de actas a partir de las acciones -------------------->   

   {%else%}
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<p class="detail">We have found {{choice_1}} : <span class="name">{{len}}</span> actes contening <span class="name">{{search_term}}</span> in the <span class="name">{{choice_2}}</span> </p>
          <div class="dropdown">
            <button class="dropbtn">try this other options</button>
            <div class="dropdown-content">
              {% for x in partes_error %}
              <p class="tiny">{{x[1]}} occurrences in <span class="name">{{x[0]}}</span> </p> 
              {% endfor %}
            </div>
        </div>
          <ul class="list-unstyled components mb-5">
            {% for x in partes_retenidas %}
            <li>
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Acte {{x[0]}} </a>
              <ul class="dropdown" id="{{x[0]}}_b">
                <li>
                  <a href="#{{x[0]}}" class="quickLinks" onclick='loadContent("#{{x[0]}}")'>Spot term</a>
                </li>
                <li>
                  <a href="#{{x[0]}}total" class="quickLinks" onclick='loadContent("#{{x[0]}}total")'>Full Charter</a>
                </li>
                </ul>
                
            </li>
            {% endfor %}
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyleft &copy;<script>document.write(new Date().getFullYear());</script> Sergio Torres | Mocosoft
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a> 
                </li>
                <li class="nav-item">
                    <a href="#results" class="nav-link" onclick='loadContent("#results")'>Results</a>
                </li>
                <li class="nav-item">
                  <a href="#entities" class="nav-link" onclick='loadContent("#entities")'>Entities</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="displayInLine" id="loadOnClick" style="width:90%; float: right;"></div>
      </div>
      
    </div>
    {% for x in partes_retenidas %}
<div id="{{x[0]}}" class="displayOnClick">
  <h3>{{x[0]}}</h3>
  <p>{{x[1]}} <span style="color: #ffae00; background-color: rgb(54, 26, 6); padding:3px" >{{x[2]}}</span> {{x[3]}}</p>
</div>
{% endfor %}

{% for x in partes_total %}
<div id="{{x[0][0]}}" class="displayOnClick">
  <h3>{{x[0][0][:-5]}}</h3>
  {% for y in x %}
  {% if y[1]==choice_2 %}
    <h5>{{y[1]}}</h5>
    <p><span style="background-color: rgb(245, 235, 204); padding:3px" >{{y[2]}}</span></p>
  {% else %}
  <h5>{{y[1]}}</h5>
  <p>{{y[2]}}</p>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}

<div id="results" class="displayOnClick">
<h3>List of results</h3>
<br/>
{% for x in partes_retenidas %}
  <h6>{{x[0]}}</h6>
  <p>{{x[1]}} <span style="color: #ffae00; background-color: rgb(54, 26, 6); padding:3px" >{{x[2]}}</span> {{x[3]}}</p>
{% endfor %}
</div>

<div id="entities" class="displayOnClick">
  <h3>Annotated parts</h3>
  <br/>
  <p></p>
  {% for k,v in partes_anotadas.items() %}
  <h6>{{k}}</h6>
    <p>
      {% for item in v %}
      {% if item[1][2:]=="PERS" %}
      <span class="resaltar" >{{item[0]}}</span>
      {% elif item[1][2:]=="LOC" %}
      <span class="resaltar_3" >{{item[0]}}</span>
      {% elif item[1]=="spot" %}
      <span class="resaltar_2" >{{item[0]}}</span>
      {% else %}
      {{item[0]}}
      {% endif %}
    {% endfor %}
    </p>
  {% endfor %}
  </div>
{% endif %}
{% endif %}


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script>
(function($) {

"use strict";

var fullHeight = function() {

  $('.js-fullheight').css('height', $(window).height());
  $(window).resize(function(){
    $('.js-fullheight').css('height', $(window).height());
  });

};
fullHeight();

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

})(jQuery);

    </script>
  </body>
</html>